set es_enableCustomData 1 
set mysql_connection_string "server=mysql-mariadb-sea01-10-101.zap-hosting.com;database=zap406602-2;userid=zap406602-2;password=dfKh4Uma1rR28YRr"

# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

#System
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
#start scoreboard
#start playernames
start bob74_ipl
start mysql-async
start essentialmode
start esplugin_mysql
start es_admin2
#endSystem

#InESXFolder
start async
start cron
start es_extended
start instance
start es_camera
start skinchanger
start esx_accessories
start esx_addonaccount
#start esx_addoninventory
#start esx_phone
start esx_borrmaskin
start esx_phone3
start esx_ambulancejob
start esx_animations
#start esx_atm
#start esx_blackjob
start esx-qalle-jail
start esx_bankerjob
start esx_barbershop
start esx_basicneeds
start esx_billing
start esx_boat

start esx_clotheshop
start esx_cruisecontrol
start esx_datastore
start esx_dmvschool
start esx_drugs
start esx_garage
start esx_holdup
start esx_identity
start esx_inventoryhud
start esx_joblisting
#start esx_jobs
start esx_license
#start esx_lscustom
#start esx_mecanojob
start esx_mechanicjob
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_migrate
start esx_optionalneeds
start esx_policejob
start esx_property
start esx_realestateagentjob
start esx_rpchat
start esx_service
#start esx_shops
start esx_supermarket 
start esx_sit
start esx_skin
start esx_society
start esx_status
start esx_taxijob
start esx_vehicleshop
start oi
start esx_tattooShops
start esx_weaponshop
#start esx-weashopsplus
#start esx_blackjob
#start monlaundry
#endInESXFolder

#OutESXFolder
#start CalmAI
#start CarRental
start 3dme
start hospital
start BlipsBuilder
start HangOntoAVehicle
start es_ui
start vMenu
start esx_barbie_lyftupp
#start jk_jobs
#start blanchisseur
#start discord_perms
#start Discord_Whitelist
start InteractSoundS
start seatbelt
start fivem-lscustoms
#start fcustoms
#start esx_addons_gcphone
#start gcphone
start esx_customui
start esx_doorlock
start esx_jb_eden_garage
start esx_legacyfuel
start esx_taximeter
start esx_vehicle_inventory
#start esx_jb_advanced_truck_inventory
start esx-kr-bag-inventory
start esx-kr-vehicle-push
start esx_bikerjob
start esx_cartel
start esx_gangjob
start esx_mafia
start esx_ladderhud
start esx_scoreboard
#start DiscordBot
#start D2FiveM
start new_banking
#start esx_hunting
#start blurr_shotsfired
start esx_gym
start esx_radio
#start esx_barbie_lyftupp
start Indicators
#start LockSystem
#start RealisticVehicleFailure
#start SexySpeedometer-FiveM-master
start trafficadjuster
#start vstancer
start ziv-loadscreen
#start vrp_taxi
#start Robbery-System
start pNotify
#start vk_handsup
start Police_Main
#start weapons-on-back
#start setroalert
#start crouch-n-prone
#start ESX_Banking
#start FiveM-Clothes
#start time_location
start showcoords
#start ESX-Money-Launderin
start EngineToggle
#start NoReticle
#start vehshop
start RichPresence
#start TestReadJob
#start chat_commands
#start EmergencyBlips
#start Fcheck
start jsfour-criminalrecord
#start speedo
start 911
start Weaponry
start jsfour-idcard
start esx_carshowroom
start DNP_SpeedoMeter
#endOutESXFolder

#Addons
start taxi_toyota
start prison-map-addon
start Amarok
start audi
start bmw1000
start bmw_m5
start bmwf8
start bmwi8
start bmwm3
start bmwm4gts
start caferacerducati
start camry2016
start camry_tun
start car1
start car2
start cbr1000
start civic_fd2
start civityperfk2
start crz
start ducativ4s
start ep3
start feraarif
start gsx1000
start h2_carbon
start lambohuracan
start Lamborghini_adventador
start motorpolisiindo
start mustang
start nissan_skyline
start police_indonesiamitsubishi
start police_indonesian
start policeanventador
start policecar1
start policecar2
start policecar3
start policecar4
start policepjr

start r25

start robocop
start slave
start supermoto1
start supra_jza80
start toyota_supra_PW
start vario
start wheel
start wheeljdm
start Yamaha_Yzf
start z1000
start zx10
start DodgeSamu
start Acura_NSX
start Bugatti_Divo
start Shelby_GT500
start land_cruiser
start Honda_Integra_Type-R
#endAddons

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password 123456789

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "IGSC TEST SERVER"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon IGSCLOGO.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32)
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey j6cabb0rv1lbu9wobquk2vifp5078jqg
